{% extends "base.html"%}
{% block body %}

    <h1>Welcome to tech shop</h1>
    <h2>Smart Tech. Smarter Living</h2>

    <p>
        Welcome to tech shop, your trusted destination for the latest in technology and electronics.<br>
        Whether you're looking for cutting-edge gadgets, reliable computer accessories, or smart home solutions, we've got you covered.<br>
        We pride ourselves on offering top-quality products at competitive prices, backed by excellent customer service and expert support.<br>
        At tech shop, we don’t just sell tech — we help you stay connected, productive, and ahead of the curve.
    </p>

    


{% endblock body %}
